body {
    background-color: rgb(232, 236, 238);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 75px;
}

h1 {
    font-size: 60px;
    color: rgb(37, 37, 37);
    text-align: center;
}

.beskrivning p {
    color: rgb(37, 37, 37);
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 70%;
    border: 2px rgba(203, 203, 203, 0.705) solid;
    border-radius: 40px;
    background-color: rgba(203, 203, 203, 0.705);
    margin: auto;
    margin-bottom: 50px;
}

img {
    height: 450px;
    margin-left: 180px;
    border-radius: 50%;
}

h2 {
    font-size: 40px;
    margin-bottom: 15px;
    padding-right: 350px;
    margin-top: 5px;
    color: rgb(37, 37, 37);
}

.ingredienser li {
    font-size: 20px;
    color: rgb(37, 37, 37);
    margin-top: 10px;
    list-style-type: none;
}

h3 {
    color: rgb(37, 37, 37);
    font-size: 40px;
    padding-top: 15px;
    padding-left: 40px;
    margin-bottom: -5px;
}

.instruktioner li {
    font-size: 20px;
    color: rgb(37, 37, 37);
    margin-top: 10px;
    margin-left: 30px;
}